body {
  background-color: rgb(255, 255, 255);
  font: 400 1.25em/1.38 Helvetica;
  color: rgb(255, 255, 255);
}

.container {
  float: left;
}

.element {
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.text {
  float: left;
}

.text-3 p,
.text-5 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  position: relative;
  float: left;
  width: 109px;
  height: 45px;
  margin-top: 26px;
  border: 2px solid rgb(111, 94, 255);
  border-radius: 3px;
  background-color: rgb(0, 15, 128);
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  font-family: Georgia;
  font-size: 0.8em;
  text-align: center;
  color: rgb(255, 255, 255);
}

._button:hover {
  background-color: rgb(0, 23, 201);
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

._button:active {
  background-color: rgb(0, 23, 201);
  box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, .5) inset;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

._button:focus {
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  text-decoration: underline;
}

.container-1 {
  width: 92.625%;
  min-width: 700px;
  height: 1796px;
  min-height: 1500px;
  margin-left: 3.625%;
}

.container-2 {
  width: 100%;
  height: 228px;
  margin-top: -5px;
  background: url('../images/%D0%91%D0%B5%D0%B7%20%D0%BD%D0%B0%D0%B7%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F.jpg') rgba(0, 2, 64, 0.72);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.container-3 {
  position: relative;
  clear: both;
  z-index: 13;
  width: 107.9622132253%;
  height: 1385px;
  margin: 12px 0 0 -3.9052%;
}

.container-4 {
  position: relative;
  clear: both;
  z-index: 22;
  width: 100%;
  height: 173px;
  margin-top: -11px;
  background-color: rgba(182, 219, 255, 0.78);
}

.element-1 {
  clear: both;
  width: 91%;
  height: 338px;
  margin: 5px 0 0 4.36719%;
  background-image: url('../images/%D0%BA%D0%BE%D0%BD%D1%86%D0%B5%D1%80%D1%82.jpg');
  background-color: rgb(222, 222, 222);
}

.element-2 {
  clear: both;
  width: 53.25%;
  height: 120px;
  margin: 17px 0 0 4.36719%;
  background-image: url('../images/improcom.png');
  background-color: rgba(255, 255, 255, 0);
}

.element-3 {
  position: relative;
  z-index: 14;
  width: 4.375%;
  height: 36px;
  margin: 19px 0 0 9.99916%;
  background-image: url('../images/instagram_PNG10.png');
  background-color: rgb(222, 222, 222);
}

.element-4 {
  position: relative;
  z-index: 18;
  width: 4.375%;
  height: 36px;
  margin: 19px 0 0 6.74975%;
  background-image: url('../images/vk.png');
  background-color: rgba(222, 222, 222, 0);
}

.element-5 {
  position: relative;
  clear: both;
  z-index: 15;
  width: 4.375%;
  height: 36px;
  margin: 28px 0 0 9.99916%;
  background-image: url('../images/instagram_PNG10.png');
  background-color: rgb(222, 222, 222);
}

.element-6 {
  position: relative;
  z-index: 20;
  width: 12.7999999999%;
  height: 36px;
  margin: 28px 0 0 6.79825%;
  background-image: url('../images/tnt.jpg');
  background-color: rgb(222, 222, 222);
}

.text-1 {
  width: 98.5%;
  min-height: 204px;
  margin: 13px 0 0 0.62416%;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
  font-family: Georgia;
  font-size: 3.5em;
  color: rgb(255, 255, 255);
}

.text-2 {
  clear: both;
  width: 91.75%;
  min-height: 94px;
  margin: 29px 0 0 4.25%;
  padding-top: 10px;
  border-radius: 10px;
  background: rgb(95, 198, 246);
  background: -webkit-linear-gradient(0deg, rgb(95, 198, 246) 0%, rgb(1, 0, 216) 87.85714285714286%, rgb(0, 21, 103) 100%) rgba(2, 18, 187, 0.93);
  background:    -moz-linear-gradient(0deg, rgb(95, 198, 246) 0%, rgb(1, 0, 216) 87.85714285714286%, rgb(0, 21, 103) 100%) rgba(2, 18, 187, 0.93);
  background:      -o-linear-gradient(0deg, rgb(95, 198, 246) 0%, rgb(1, 0, 216) 87.85714285714286%, rgb(0, 21, 103) 100%) rgba(2, 18, 187, 0.93);
  background:     -ms-linear-gradient(0deg, rgb(95, 198, 246) 0%, rgb(1, 0, 216) 87.85714285714286%, rgb(0, 21, 103) 100%) rgba(2, 18, 187, 0.93);
  background:         linear-gradient(450deg, rgb(95, 198, 246) 0%, rgb(1, 0, 216) 87.85714285714286%, rgb(0, 21, 103) 100%) rgba(2, 18, 187, 0.93);
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  font-family: Georgia;
  font-size: 2.4em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text-3 {
  clear: both;
  width: 91.125%;
  min-height: 282px;
  margin: 21px 0 0 4.24219%;
  padding: 35px 10px 10px;
  border-radius: 7px;
  background-color: rgb(0, 111, 220);
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text-4 {
  clear: both;
  width: 91.75%;
  min-height: 94px;
  margin: 29px 0 0 4.24219%;
  padding-top: 10px;
  border-radius: 10px;
  background: rgb(95, 198, 246);
  background: -webkit-linear-gradient(0deg, rgb(95, 198, 246) 0%, rgb(1, 0, 216) 87.85714285714286%, rgb(0, 21, 103) 100%) rgba(2, 18, 187, 0.93);
  background:    -moz-linear-gradient(0deg, rgb(95, 198, 246) 0%, rgb(1, 0, 216) 87.85714285714286%, rgb(0, 21, 103) 100%) rgba(2, 18, 187, 0.93);
  background:      -o-linear-gradient(0deg, rgb(95, 198, 246) 0%, rgb(1, 0, 216) 87.85714285714286%, rgb(0, 21, 103) 100%) rgba(2, 18, 187, 0.93);
  background:     -ms-linear-gradient(0deg, rgb(95, 198, 246) 0%, rgb(1, 0, 216) 87.85714285714286%, rgb(0, 21, 103) 100%) rgba(2, 18, 187, 0.93);
  background:         linear-gradient(450deg, rgb(95, 198, 246) 0%, rgb(1, 0, 216) 87.85714285714286%, rgb(0, 21, 103) 100%) rgba(2, 18, 187, 0.93);
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  font-family: Georgia;
  font-size: 2.4em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text-5 {
  clear: both;
  width: 91.25%;
  min-height: 252px;
  margin: 12px 0 0 4.24805%;
  padding: 45px 20px 20px;
  border-radius: 7px;
  background-color: rgb(0, 111, 220);
  font-size: 0.9em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text-6 {
  position: relative;
  z-index: 16;
  width: 22%;
  min-height: 36px;
  margin: 19px 0 0 0.87298%;
  font-family: Georgia;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-7 {
  position: relative;
  z-index: 19;
  width: 39%;
  min-height: 36px;
  margin: 19px 0 0 0.87298%;
  font-family: Georgia;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-8 {
  position: relative;
  z-index: 17;
  width: 22%;
  min-height: 36px;
  margin: 28px 0 0 0.82237%;
  font-family: Georgia;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-9 {
  position: relative;
  z-index: 21;
  width: 22%;
  min-height: 36px;
  margin: 28px 0 0 0.79496%;
  font-family: Georgia;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.container ._button-1 {
  z-index: 2;
  margin-left: 10%;
}

.container ._button-2 {
  z-index: 3;
  margin-left: 2.67383%;
}

.container ._button-3 {
  z-index: 4;
  margin-left: 3.27344%;
}

.container ._button-4 {
  z-index: 5;
  margin-left: 3.16602%;
}

.container ._button-5 {
  z-index: 6;
  margin-left: 2.78125%;
}

.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text strong:focus {
  text-decoration: underline;
}